body {
  padding: 0;
  margin: 0;
}

.alert_warning, .alert-success, .alert-info, .alert_danger {
  text-align: center;
  font-size: 1.2em;
  width: 70vw;
  padding: 5px;
  margin: 5px auto;
  box-sizing: border-box;
  align-content: center;
}

.nav ul {
  background-color: darkviolet;
  list-style: none;
  display: flex;
  text-align: center;
  padding: 0;
}
.nav ul li {
  border-bottom: solid 1px grey;
  padding: 1em 0em;
  width: 100%;
}
.nav ul li:hover {
  background-color: #7000a0;
}
.nav ul li a {
  text-decoration: none;
  color: gold;
  font-size: 1.5rem;
  font-family: Arial;
}

.btn-flat-danger, .btn-flat-warning, .btn-flat-success, .btn-flat-secondary, .btn-flat-primary, .btn-flat-dark, .btn-outline-secondary, .btn-outline-primary, .btn-outline-danger, .btn-outline-warning, .btn-outline-success, .btn-dark, .btn-danger, .btn-warning, .btn-success, .btn-secondary, .btn-primary {
  text-align: center;
  cursor: pointer;
  margin-top: 1em;
  color: white;
}

/* Alertes */
.alert_danger {
  background-color: #ff3333;
  color: #990000;
  border: solid 2px #990000;
}

.alert-info {
  background-color: #9a9a9a;
  color: #4d4d4d;
  border: solid 2px #4d4d4d;
}

.alert-success {
  background-color: #00b300;
  color: #001a00;
  border: solid 2px #001a00;
}

.alert_warning {
  background-color: #ffff33;
  color: #999900;
  border: solid 2px #999900;
}

/* Taille boutons */
.btn_small {
  font-size: 0.875rem;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn_medium {
  font-size: 1rem;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.btn_large {
  font-size: 1.25rem;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.btn_block {
  width: 100%;
  font-size: 2rem;
}

/* Style boutons */
.btn-primary {
  background-color: darkviolet;
}

.btn-secondary {
  background-color: gold;
}

.btn-success {
  background-color: green;
}

.btn-warning {
  background-color: yellow;
}

.btn-danger {
  background-color: red;
}

.btn-dark {
  background-color: #262626;
}

.btn-outline-success {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid;
  border-color: green;
  color: green;
}
.btn-outline-success:hover {
  color: white;
  background-color: green;
}

.btn-outline-warning {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid;
  border-color: yellow;
  color: yellow;
}
.btn-outline-warning:hover {
  color: white;
  background-color: yellow;
}

.btn-outline-danger {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid;
  border-color: red;
  color: red;
}
.btn-outline-danger:hover {
  color: white;
  background-color: red;
}

.btn-outline-primary {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid;
  border-color: darkviolet;
  color: darkviolet;
}
.btn-outline-primary:hover {
  color: white;
  background-color: darkviolet;
}

.btn-outline-secondary {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid;
  border-color: gold;
  color: gold;
}
.btn-outline-secondary:hover {
  color: white;
  background-color: gold;
}

.btn-outline-success {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid;
  border-color: green;
  color: green;
}
.btn-outline-success:hover {
  color: white;
  background-color: green;
}

.btn-flat-dark {
  border-radius: 4px;
  border: none;
  background-color: #262626;
}

.btn-flat-primary {
  border-radius: 4px;
  border: none;
  background-color: darkviolet;
}

.btn-flat-secondary {
  border-radius: 4px;
  border: none;
  background-color: gold;
}

.btn-flat-success {
  border-radius: 4px;
  border: none;
}

.btn-flat-warning {
  border-radius: 4px;
  border: none;
  background-color: yellow;
}

.btn-flat-danger {
  border-radius: 4px;
  border: none;
  background-color: red;
}

/* Navigation */
/* Type de navigation responsive */
@media screen and (max-width: 450px) {
  .mobile-flex-column ul {
    flex-direction: column;
    justify-content: center;
  }
  .mobile-flex-column ul li a {
    font-size: 0.875rem;
  }
  .mobile-flex-column ul li {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .mobile-flex-row-center ul {
    flex-direction: row;
    justify-content: space-around;
  }
  .mobile-flex-row-center ul li a {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 450px) {
  .mobile-flex-row-right ul {
    flex-direction: row;
    justify-content: right;
  }
  .mobile-flex-row-right ul li a {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 450px) {
  .mobile-flex-row-left ul {
    flex-direction: row;
    justify-content: left;
  }
  .mobile-flex-row-left ul li a {
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  .tablet-flex-column ul {
    flex-direction: column;
    justify-content: center;
  }
  .tablet-flex-column ul li a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  .tablet-flex-row-center ul {
    flex-direction: row;
    justify-content: space-around;
  }
  .tablet-flex-row-center ul li a {
    font-size: 1rem;
  }
  .tablet-flex-row-center ul li {
    width: inherit;
    padding: 1em 1em;
  }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  .tablet-flex-row-right ul {
    flex-direction: row;
    justify-content: right;
  }
  .tablet-flex-row-right ul li a {
    font-size: 1rem;
  }
  .tablet-flex-row-right ul li {
    width: inherit;
    padding: 1em 1em;
  }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  .tablet-flex-row-left ul {
    flex-direction: row;
    justify-content: left;
  }
  .tablet-flex-row-left ul li a {
    font-size: 1rem;
  }
  .tablet-flex-row-left ul li {
    width: inherit;
    padding: 1em 1em;
  }
}

@media screen and (min-width: 800px) {
  .desktop-flex-column ul {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 800px) {
  .desktop-flex-row-right ul {
    flex-direction: row;
    justify-content: right;
  }
}

@media screen and (min-width: 800px) {
  .desktop-flex-row-left ul {
    flex-direction: row;
    justify-content: left;
  }
}

@media screen and (min-width: 800px) {
  .desktop-flex-row-center ul {
    flex-direction: row;
    justify-content: space-around;
  }
}

/* Grille */
.row {
  height: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: aqua;
}
.row > .col + .col {
  margin-left: 1.6%;
}

.col {
  background-color: black;
  flex-grow: 0;
  flex-shrink: 1;
}

.s1 {
  flex-basis: 6.8666666667%;
}

.m1 {
  flex-basis: 6.8666666667%;
}

.offset-1 {
  margin-left: 8.4666666667%;
}

.s2 {
  flex-basis: 15.3333333333%;
}

.m2 {
  flex-basis: 15.3333333333%;
}

.offset-2 {
  margin-left: 16.9333333333%;
}

.s3 {
  flex-basis: 23.8%;
}

.m3 {
  flex-basis: 23.8%;
}

.offset-3 {
  margin-left: 25.4%;
}

.s4 {
  flex-basis: 32.2666666667%;
}

.m4 {
  flex-basis: 32.2666666667%;
}

.offset-4 {
  margin-left: 33.8666666667%;
}

.s5 {
  flex-basis: 40.7333333333%;
}

.m5 {
  flex-basis: 40.7333333333%;
}

.offset-5 {
  margin-left: 42.3333333333%;
}

.s6 {
  flex-basis: 49.2%;
}

.m6 {
  flex-basis: 49.2%;
}

.offset-6 {
  margin-left: 50.8%;
}

.s7 {
  flex-basis: 57.6666666667%;
}

.m7 {
  flex-basis: 57.6666666667%;
}

.offset-7 {
  margin-left: 59.2666666667%;
}

.s8 {
  flex-basis: 66.1333333333%;
}

.m8 {
  flex-basis: 66.1333333333%;
}

.offset-8 {
  margin-left: 67.7333333333%;
}

.s9 {
  flex-basis: 74.6%;
}

.m9 {
  flex-basis: 74.6%;
}

.offset-9 {
  margin-left: 76.2%;
}

.s10 {
  flex-basis: 83.0666666667%;
}

.m10 {
  flex-basis: 83.0666666667%;
}

.offset-10 {
  margin-left: 84.6666666667%;
}

.s11 {
  flex-basis: 91.5333333333%;
}

.m11 {
  flex-basis: 91.5333333333%;
}

.offset-11 {
  margin-left: 93.1333333333%;
}

.s12 {
  flex-basis: 100%;
}

.m12 {
  flex-basis: 100%;
}

.offset-12 {
  margin-left: 101.6%;
}

/*# sourceMappingURL=framework.css.map */
