.attention, .alert-success, .message-info, .cefini {
  text-align: center;
  font-size: 1.2em;
  border-radius: 10px;
  width: 50vw;
  padding: 5px;
  margin-top: 5px;
}

.btn-flat-dark, .btn-outline-secondary, .btn-outline-primary, .btn-outline-warning, .btn-outline-success, .btn-success, .btn-secondary, .btn-primary {
  text-align: center;
  cursor: pointer;
  margin-top: 1em;
  color: white;
}

.nav ul {
  background-color: darkviolet;
  list-style: none;
  display: flex;
  text-align: center;
  padding: 0;
}
.nav ul li {
  padding: 1em 0em;
  width: 5em;
  border-bottom: solid 1px grey;
}
.nav ul li a {
  text-decoration: none;
  color: gold;
}

body {
  padding: 0;
  margin: 0;
}

.cefini {
  background-color: #ff3333;
  color: #990000;
}

.message-info {
  background-color: #3333ff;
  color: #000099;
}

.alert-success {
  background-color: #00b300;
  color: #001a00;
}

.attention {
  background-color: #ffff33;
  color: #999900;
}

.btn_small {
  font-size: 0.875rem;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn_medium {
  font-size: 1rem;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.btn_large {
  font-size: 1.25rem;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.btn_block {
  width: 100%;
  font-size: 2rem;
}

.btn-primary {
  background-color: #007bff;
}

.btn-secondary {
  background-color: #020063;
}

.btn-success {
  background-color: green;
}

.btn-outline-success {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid;
  border-color: green;
  color: green;
}
.btn-outline-success:hover {
  color: white;
  background-color: green;
}

.btn-outline-warning {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid;
  border-color: yellow;
  color: yellow;
}
.btn-outline-warning:hover {
  color: white;
  background-color: yellow;
}

.btn-outline-primary {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid;
  border-color: #007bff;
  color: #007bff;
}
.btn-outline-primary:hover {
  color: white;
  background-color: #007bff;
}

.btn-outline-secondary {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid;
  border-color: #020063;
  color: #020063;
}
.btn-outline-secondary:hover {
  color: white;
  background-color: #020063;
}

.btn-flat-dark {
  border-radius: 4px;
  border: none;
  background-color: #262626;
}

@media screen and (max-width: 450px) {
  .mobile-flex-column ul {
    flex-direction: column;
    justify-content: center;
  }
  .mobile-flex-column ul li {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .mobile-flex-row-center ul {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width: 450px) {
  .mobile-flex-row-right ul {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width: 450px) {
  .mobile-flex-row-left ul {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  .tablet-flex-column ul {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  .tablet-flex-row-center ul {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  .tablet-flex-row-right ul {
    flex-direction: row;
    justify-content: right;
  }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  .tablet-flex-row-left ul {
    flex-direction: row;
    justify-content: left;
  }
}

@media screen and (min-width: 800px) {
  .desktop-flex-column ul {
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (min-width: 800px) {
  .desktop-flex-row-right ul {
    flex-direction: row;
    justify-content: right;
  }
}

@media screen and (min-width: 800px) {
  .desktop-flex-row-left ul {
    flex-direction: row;
    justify-content: left;
  }
}

@media screen and (min-width: 800px) {
  .desktop-flex-row-center ul {
    flex-direction: row;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=TD7.2.css.map */
