@import 'variables';

%alert {
    text-align: center;
    font-size: 1.2em;
    border-radius: 10px;
    width: 50vw;
    padding: 5px;
    margin-top: 5px;

}

@mixin alert_color($color) {
    background-color : lighten($color, 10%);
    color: darken($color, 20%);
}

@mixin alert_type($type: 'info') {
    @extend %alert;
    @if($type == 'info'){
        @include alert_color($color_grey);
    }
    @if($type == 'danger'){
        @include alert_color($color_red);
    }
    @if($type == 'warning'){
        @include alert_color($color_yellow);
    }
    @if($type == 'success'){
        @include alert_color($color_green);
    }
}