@import 'variables';

$color_success : green !default;
$color_warning : yellow !default;
$color_danger: red !default;
$color_info : grey !default;

%alert {
    text-align: center;
    font-size: 1.2em;
    border-radius: 10px;
    width: 50vw;
    padding: 5px;
    margin-top: 5px;
}

@mixin alert_color($color) {
    background-color : lighten($color, 10%);
    color: darken($color, 20%);
}

@mixin alert_type($type: 'info') {
    @extend %alert;
    @if($type == 'info'){
        @include alert_color($color_info);
    }
    @if($type == 'danger'){
        @include alert_color($color_danger);
    }
    @if($type == 'warning'){
        @include alert_color($color_warning);
    }
    @if($type == 'success'){
        @include alert_color($color_success);
    }
}