@import 'variables';

$color_success : green !default;
$color_warning : yellow !default;
$color_danger: red !default;
$color_info : grey !default;
$color_black: lighten(black, 15%) !default;

$primary_color: #007bff !default;
$secondary_color: rgb(2, 0, 99) !default;

$btn_padding_small_h: 8px !default;
$btn_padding_medium_h: 12px !default;
$btn_padding_large_h: 18px !default;

$btn_padding_small_v: 2px !default;
$btn_padding_medium_v: 6px !default;
$btn_padding_large_v: 9px !default;

$btn_small_font_size: 0.875rem;
$btn_medium_font_size: 1rem;
$btn_large_font_size: 1.25rem;
$btn_block_font_size: 2rem;

 %button {
    text-align: center;
    cursor: pointer;
    margin-top: 1em;
    color: white;
}

@mixin button_size($padding_h, $padding_v, $font_size) {
    font-size: $font_size;
    padding-left: $padding_h;
    padding-right: $padding_h;
    padding-top: $padding_v;
    padding-bottom: $padding_v;
}


@mixin button_size_type($size: 'medium') {
    @if($size == 'small'){
        @include button_size($btn_padding_small_h, $btn_padding_small_v, $btn_small_font_size);
    }
    @if($size == 'medium'){
        @include button_size($btn_padding_medium_h, $btn_padding_medium_v, $btn_medium_font_size);
    }
    @if($size == 'large'){
        @include button_size($btn_padding_large_h, $btn_padding_large_v, $btn_large_font_size);
    }
    @if($size == 'block'){
        width:100%;
        font-size: $btn_block_font_size;
    }
}

@mixin button_type($type: 'classic', $style: 'primary'){
    @if($type == 'classic'){
        @include button_classic_type($style);
    }
    @if($type == 'flat'){
        @include button_flat_type($style);
    }
    @if($type == 'outline'){
        @include button_outline_type($style);
    }
}

@mixin button_outline_type($type: 'primary'){
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid;
    @if($type == 'primary'){
        border-color: $primary_color;
        color: $primary_color;
        &:hover {
            color: white;
            background-color: $primary_color;
          }
    }
    @if($type == 'secondary'){
        border-color: $secondary_color;
        color: $secondary_color;
        &:hover {
            color: white;
            background-color: $secondary_color;
        }    
    }
    @if($type == 'success'){
        border-color: $color_success;
        color: $color_success; 
        &:hover {
            color: white;
            background-color: $color_success;
        }
    }
    @if($type == 'warning'){
        border-color: $color_warning;
        color: $color_warning;
        &:hover {
            color: white;
            background-color: $color_warning;
        }
    }
    @if($type == 'danger'){
        border-color: $color_danger;
        color: $color_danger;
        &:hover {
            color: white;
            background-color: $color_danger;
        }
    }
    @if($type == 'dark'){
        border-color: $color_black;
        color: $color_black;
        &:hover {
            color: white;
            background-color: $color_black;
        }
    }


}

@mixin button_classic_type($type: 'primary'){
    @if($type == 'primary'){
        background-color: $primary_color;
    }
    @if($type == 'secondary'){
        background-color: $secondary_color;
    }
    @if($type == 'sucess'){
        background-color: $secondary_color;
    }
    @if($type == 'warning'){
        background-color: $color_yellow;
    }
    @if($type == 'danger'){
        background-color: $color_red;
    }
    @if($type == 'dark'){
        background-color: $color_black;
    }
}

@mixin button_flat_type($type: 'primary'){
    border-radius: 4px;
    border: none; 
    @if($type == 'primary'){
        background-color: $primary_color;
    }
    @if($type == 'secondary'){
        background-color: $secondary_color;
    }
    @if($type == 'sucess'){
        background-color: $color_green;
    }
    @if($type == 'warning'){
        background-color: $color_yellow;
    }
    @if($type == 'danger'){
        background-color: $color_red;
    }
    @if($type == 'dark'){
        background-color: $color_black;
    }
}