
$widthContent:80vw;
$bgContent: lightgoldenrodyellow;
$fontS : 1.2em;
$bigFontS : 2em;
$heightContent: $widthContent/3;
$paddingContent: 0px 10px;
$h1weight: bold;
$h1bgColor: grey;




.content {
    width: $widthContent;
    background-color: $bgContent;
    font-size: $fontS;
    padding: $paddingContent;
    height: $heightContent;

    h1 {
        font-size: $bigFontS;
        font-weight: $h1weight;
        background-color: $h1bgColor;

        &:hover {
            font-size: $bigFontS*1.5;
            color: lighten($h1bgColor, 20%);
        }
    }

    
}

