$menu-bg-color: darkviolet !default; 
$menu-color: gold !default;

$mobile_max_width: 450px !default;
$tablet_max_width: 800px !default;


%nav {
    ul {
        background-color: $menu-bg-color;
        list-style: none;
        display: flex;
        text-align: center;
        padding: 0;
    
        & li {
        padding: 1em 0em;
        width: 5em;
        border-bottom: solid 1px grey;
        
            & a {
                text-decoration: none;
                color: $menu-color;
            }
        }
    }
}

@mixin flex-responsive-nav($direction, $media : 'desktop', $justify : space-around) {
  
    @if($media == 'desktop'){
        @media screen and (min-width: $tablet_max_width) {
            ul {
                flex-direction: $direction;
                justify-content: $justify;
            }
        }
    }
    
    @if($media == 'tablet'){
        @media screen and (min-width: $mobile_max_width) and (max-width: $tablet_max_width) {
            ul {
                flex-direction: $direction;
                justify-content: $justify;
            }
        }
    }

    @if($media == 'mobile'){
        @media screen and (max-width: $mobile_max_width) {
            ul {
                flex-direction: $direction;
                justify-content: $justify;
            }
            @if($direction == column){
                ul li {
                    width: 100%;
                }
            }
        }
    }
}

