$primary_color: #007bff !default;
$secondary_color: rgb(2, 0, 99) !default;

$mobile_max_width: 450px !default;
$tablet_max_width: 800px !default;

$menu-font-size: 1.5rem !default;
$tablet-menu-font-size: 1rem !default;
$mobile-menu-font-size: 0.875rem !default;
$menu-font: Arial !default;


%nav {
    ul {
        background-color: $primary_color;
        list-style: none;
        display: flex;
        text-align: center;
        padding: 0;
    
        & li {
        border-bottom: solid 1px grey;
        padding: 1em 0em;
        width: 100%;
            &:hover {
                background-color: darken($primary_color, 10%);
            }

            & a {
                text-decoration: none;
                color: $secondary_color;
                font-size: $menu-font-size;
                font-family: $menu-font;     
            }
        }
    }
}

@mixin flex-responsive-nav($direction, $media : 'desktop', $justify : space-around) {
    @if($media == 'desktop'){
        @media screen and (min-width: $tablet_max_width) {
            ul {
                flex-direction: $direction;
                justify-content: $justify;
            }
        }
    }
    
    @if($media == 'tablet'){
        @media screen and (min-width: $mobile_max_width) and (max-width: $tablet_max_width) {
            ul {
                flex-direction: $direction;
                justify-content: $justify;
                & li a {
                    font-size: $tablet-menu-font-size;
                }
                @if($direction == row){
                    & li {
                        width: inherit;
                        padding: 1em 1em;
                    }
                }
            }
        }
    }

    @if($media == 'mobile'){
        @media screen and (max-width: $mobile_max_width) {
            ul {
                flex-direction: $direction;
                justify-content: $justify;
                & li a {
                    font-size: $mobile-menu-font-size;
                }
                @if($direction == column){
                    & li {
                        width: 100%;
                    }
                }
            }
        }
    }
}
