$color_info : blue;


$primary_color: #007bff;
$secondary_color: rgb(2, 0, 99);
$menu-bg-color: darkviolet; 
$menu-color: gold;

$padding_small_h: 8px;
$padding_small_v: 2px;

$padding_medium_h: 12px;
$padding_medium_v: 6px;

$padding_large_h: 18px;
$padding_large_v: 9px;



$small_font_size: 0.875rem;
$medium_font_size: 1rem;
$large_font_size: 1.25rem;
$block_font_size: 2rem;

$nbCol : 12;
